/_site/
/.quarto/
.DS_Store
.chrome-profile/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.key

**/*.quarto_ipynb
solar-neutrino-masterclass/outputs/
solar-neutrino-masterclass/notebooks/outputs/
solar-neutrino-masterclass/slides/*.html
solar-neutrino-masterclass/slides/*_files/
solar-neutrino-masterclass/report_template/*.html
solar-neutrino-masterclass/report_template/*_files/
solar-neutrino-masterclass/report_template/*.tex
solar-neutrino-masterclass/report_template/*.aux
solar-neutrino-masterclass/report_template/*.log
solar-neutrino-masterclass/report_template/*.toc
